/* Desktops and Laptops */
/* My Laptop's width is 1276.8px  */
* {
  box-sizing: border-box;
}

a:active{
  cursor: progress;
}

body{
  background-color: #E5FBFE;
  font-family: 'Montserrat','Rubik', Arial;
  margin: 0;
}

.topButton{
  position: fixed;
  top: 550px;
  left: 90%;
  display: ;
  z-index: 2;
  font-size: 4rem;
  text-decoration: none;
  color: #00BFFF;
  opacity: 0.6;
  background-color: ;
}

.topButton:hover{
  opacity: 1;
}

.icon{
  display: none;
}

a{
  display: inline;
}

.divider{
  color: #fff;
  display: inline;
}

.navBar{
  background-color: #00BFFF;
  height: 40px;
  padding-top: 7px;
  position: fixed;
  top: 0; transition: top 1s;
  width: 100%;
}

.navBar:hover{
  height: 45px; transition: height 1s;
  padding-top: 9px; transition: padding-top 1s;
  width: 100%;
}

.anchor{
  background-color: inherit;
  border-radius: 3px;
  color: #fff;
  font-family: 'Montserrat','Rubik',Arial;
  font-size: 108%;
  padding: 7px 7px;
  text-decoration: none;
}

.anchor:hover{
  color: #000080; transition: color 1s;
}

.anchor:active{
  color: #FF0000; transition: color 0.8s;
}

.logo{
  margin-left: 8%;
}

.home, .log{
  margin-left: 11%;
}

.pic{
  height: 650px;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.textjoin{
  background-color: inherit;
  color: #fff;
  font-size: 3rem;
  height: 700px;
  margin: 0;
  padding-top: 11%;
  text-align: center;
  width: 100%;
}

.join,.winning,.at,.day,.tutors{
  display: none;
}

.join1{
  color: #00BFFF;
  display: inline;
  font-family: 'Montserrat','Rubik',Arial;
  font-size: 7rem;
  margin-bottom: 1%;
  text-decoration: none;
}

.join1:hover,.join2:hover{
  color: #87CEEB; transition: color 1s;
}

.join2{
  background-color: inherit;
  color: #00BFFF;
  font-family: 'Montserrat','Rubik',Arial;
  font-size: 7rem;
  margin-bottom: 1%;
  text-decoration: underline;
}

.winning1{
  background-color: #FF0000;
  font-family: 'Montserrat','Rubik',Arial;
  font-size: 2rem;
  margin-bottom: 0;
  margin-left: 35%;
  margin-top: 1%;
  padding-bottom: 6px;
  width: 29%;
}

.at1{
  color: #00BFFF;
  font-family: 'Sansita Swashed', Arial;
  margin-bottom: 0;
  margin-left: 47%;
  margin-top: 0;
  padding-bottom: 6px;
  width: 5%;
}

.day1{
  background-color: #000080;
  font-family: 'Secular One',Arial;
  margin-bottom: 0;
  margin-left: 38%;
  margin-top: 0.5%;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  width: 23%;
}

.tutors1{
  background-color: #000080;
  font-family: 'Secular One',Arial;
  margin-bottom: 0;
  margin-left: 41%;
  margin-top: 0.5%;
  padding-bottom: 3px;
  width: 17%;
}

.column{
  float: left;
  margin-top: 5%;
  padding: 0 10px;
  width: 25%;
}

.row:after{
  content: "";
  clear: both;
  display: table;
}

.card{
  background-color: inherit;
  border: 1px solid #000;
  border-radius: 3px;
  height: 300px;
  padding: 16px;
  text-align: center;
}

footer{
  background-color: #f2f2f2;
  color: #fff;
  height: 300px;
  margin-top: 1%;
  width: 100%;
}

/* For Small Screens */
@media screen and (max-width: 700px){
  a{
    display: inline;
  }

  .navBar a:not(:first-child), .divider{
    display: none;
  }

  .navBar .icon, .image, .navBar{
      display: block;
  }

  .navBar{
    background-color: #00BFFF;
    padding: 0;
    top: 0;
    transition: top 3s;
    height: 50px;
    width: 100%; transition: width 0.1s;
  }

  .navBar:hover{
    background-color: #00BFFF;
    padding: 0;
    height: 50px;
    position: fixed;
    top: 0; transition: top 1s;
    width: 100%; transition: width 0.1s;
  }

  .anchor{
    background-color: #fff;
    border-radius: 0;
    color: #000000;
    float: left;
    font-family: 'Montserrat','Rubik',Arial;
    font-size: 100%;
    height: 50px;
    text-align: center;
    text-decoration: none;
  }

  .navBar a.logo{
    margin: 0;
    display: inline;
    background-color: inherit;
    color: #fff;
    cursor: pointer;
    font-size: 150%;
    height: 50px;
    width: 20%;
    padding-left: 5%;
    text-align: left;
  }

  .navBar a.home{
    display: none;
  }

  .navBar a.icon{
    background-color: #00BFFF;
    color: #fff;
    display: block;
    float: left;
    font-size: 150%;
    height: 50px;
    padding-top: 2%;
    text-align: center;
    text-decoration: none;
    margin-left: 70%;
    width: 10%;
  }

  .navBar a.icon:hover{
    background-color: #fff; transition: background-color 1s;
    color: #000080; transition: color 1s;
  }

  .navBar a.icon:active{
    color: #FF0000; transition: color 0.8s;
  }

  .navBar.responsive{
    background-color: #fff;
    margin-left: 20%;
    position: relative;
    width: 80%; transition: width 1s;
    z-index: 3;
  }

  .navBar.responsive .icon{
    background-color: #00BFFF;
    /* display: block; */
    color: #fff;
    font-size: 150%;
    height: 50px;
    padding-top: 3%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 20%;
  }

  .navBar.responsive .icon:hover{
    background-color: #f2f2f2; transition: background-color 1s;
    color: #000080; transition: color 1s;
  }

  .navBar.responsive .icon:active{
    background-color: #fff; transition: background-color 0.8s;
    color: #FF0000; transition: color 0.8s;
  }

  .navBar.responsive .anchor{
    color: #000080;
    display: block;
    float: none;
    font-size: 130%;
    height: 70px;
    padding-right: 7%;
    padding-top: 5%;
    text-align: right;
  }

  .navBar.responsive .anchor:hover{
    background-color: #00BFFF; transition: background-color 1s;
    color: #fff; transition: color 1s;
  }

  .navBar.responsive .anchor:active{
    background-color: #fff; transition: background-color 0.8s;
    color: #FF0000; transition: color 0.8s;
  }

  .navBar.responsive .log, .navBar.responsive .sign{
    border: none;
    display: block;
    float: none;
    margin: 0;
    height: 70px;
    padding-top: 5%;
  }

  .navBar.responsive .logo, .navBar.responsive .logo:hover{
    background-color: #fff;
    border: none;
    color: #000080;
    font-size: 150%;
    height: 50px;
    padding-top: 2%;
    text-align: left;
    margin-left: -25%;
    top: 0; transition: 1s;
    width: 24%;
  }

  .navBar.responsive .home{
    display: none;
  }

  .pic{
    height: auto;
    position: absolute;
    top: 9%;
    width: 100%;
    z-index: -1;
  }

  .textjoin{
    height: 300px;
    padding-top: 14%;
    text-align: center;
  }

  .join1{
    background-color: inherit;
    color: #00BFFF;
    font-size: 200%;
    margin-bottom: 1%;
    text-decoration: none;
  }

  .join1:hover{
    color: #87CEEB;
  }

  .join2{
    background-color: inherit;
    color: #00BFFF;
    font-size: 200%;
    margin-bottom: 1%;
    text-decoration: underline;
  }

  .winning1{
    background-color: #FF0000;
    color: #fff;
    font-size: 50%;
    margin-bottom: 0;
    margin-left: 19%;
    margin-top: 1%;
    width: 60%;
  }

  .at1{
    color: #00BFFF;
    font-size: 50%;
    margin-bottom: 0.5%;
    margin-left: 45%;
    margin-top: 0;
    width: 10%;
  }

  .day1{
    background-color: #000080;
    color: #fff;
    font-size: 50%;
    margin-bottom: 0;
    margin-left: 33%;
    margin-top: 0;
    width: 35%;
  }

  .tutors1{
    background-color: #000080;
    color: #fff;
    font-size: 50%;
    margin-left: 37%;
    margin-top: 1%;
    width: 28%;
  }

  .column {
    display: block;
    margin-bottom: 0;
    width: 100%;
  }

  .cardone{
    margin-top: 50%;
  }
}

/* For Tablet Screens */
@media screen and (min-width: 700px) and (max-width: 1300px){
  a{
    display: inline;
  }

  .navBar a:not(:first-child), .divider{
    display: none;
  }

  .navBar .icon, .image, .navBar{
    display: block;
  }

  .navBar, .navBar:hover{
    background-color: #00BFFF;
    padding: 0;
    height: 50px;
    top: 0; transition: top 1s;
    width: 100%; transition: width 0.1s;
  }

  .anchor{
    background-color: #fff;
    border-radius: 0;
    color: #000000;
    float: left;
    font-family: 'Montserrat','Rubik',Arial;
    font-size: 100%;
    height: 50px;
    text-align: center;
    text-decoration: none;
  }

  .navBar a.logo{
    margin-top: 0;
    margin-left: 5%;
    display: inline;
    background-color: inherit;
    color: #fff;
    cursor: pointer;
    font-size: 150%;
    height: 50px;
    width: 8%;
    padding-left: 1%;
    text-align: left;
  }

  .navBar a.home{
    display: none;
  }

  .navBar a.icon{
    background-color: #00BFFF;
    color: #fff;
    display: block;
    float: left;
    font-size: 150%;
    height: 50px;
    padding-top: 1%;
    text-align: center;
    text-decoration: none;
    margin-left: 77%;
    width: 10%;
  }

  .navBar a.icon:hover{
    background-color: #fff; transition: background-color 1s;
    color: #000080; transition: color 1s;
  }

  .navBar a.icon:active{
    color: #FF0000; transition: color 0.8s;
  }

  .navBar.responsive{
    background-color: #fff;
    margin-left: 20%;
    position: relative;
    width: 80%; transition: width 1s;
    z-index: 3;
  }

  .navBar.responsive .icon{
    background-color: #00BFFF;
    color: #fff;
    font-size: 150%;
    height: 50px;
    padding-top: 1%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 13%;
  }

  .navBar.responsive .icon:hover{
    background-color: #f2f2f2; transition: background-color 1s;
    color: #000080; transition: color 1s;
  }

  .navBar.responsive .icon:active{
    background-color: #fff; transition: background-color 0.8s;
    color: #FF0000; transition: color 0.8s;
  }

  .navBar.responsive .anchor{
    color: #000080;
    display: block;
    float: none;
    font-size: 130%;
    height: 70px;
    padding-top: 3%;
    padding-right: 5%;
    text-align: right;
  }

  .navBar.responsive .anchor:hover{
    background-color: #00BFFF; transition: background-color 1s;
    color: #fff; transition: color 1s;
  }

  .navBar.responsive .anchor:active{
    background-color: #fff; transition: background-color 0.8s;
    color: #FF0000; transition: color 0.8s;
  }

  .navBar.responsive .log, .navBar.responsive .sign{
    border: none;
    margin: 0;
    display: block;
    float: none;
    height: 70px;
    padding-top: 2%;
  }

  .navBar.responsive .logo, .navBar.responsive .logo:hover{
    background-color: #E5FBFE;
    border: none;
    color: #000;
    font-size: 150%;
    height: 50px;
    padding-top: 1%;
    padding-left: 1%;
    text-align: left;
    margin-left: -20%;
    top: 0; transition: 1s;
    width: 10%;
  }

  .navBar.responsive .home{
    display: none;
  }

  .pic{
    height: auto;
    position: absolute;
    width: 100%;
    top: 9%;
    z-index: -1;
  }

  .textjoin{
    height: 300px;
    padding-top: 23%;
    text-align: center;
  }

  .join1{
    background-color: inherit;
    color: #00BFFF;
    font-size: 200%;
    margin-bottom: 1%;
    text-decoration: none;
  }

  .join1:hover{
    color: #87CEEB;
  }

  .join2{
    background-color: inherit;
    color: #00BFFF;
    font-size: 200%;
    margin-bottom: 1%;
    text-decoration: underline;
  }

  .winning1{
    background-color: #FF0000;
    color: #fff;
    font-size: 60%;
    margin-bottom: 0;
    margin-left: 25%;
    margin-top: 1%;
    width: 49%;
  }

  .at1{
    color: #00BFFF;
    font-size: 60%;
    margin-bottom: 0.5%;
    margin-left: 45%;
    margin-top: 0;
    width: 10%;
  }

  .day1{
    background-color: #000080;
    color: #fff;
    font-size: 60%;
    margin-bottom: 0;
    margin-left: 35%;
    margin-top: 0;
    width: 30%;
  }

  .tutors1{
    background-color: #000080;
    color: #fff;
    font-size: 60%;
    margin-left: 40%;
    margin-top: 1%;
    width: 21%;
  }

  .column{
    display: block;
    margin-bottom: 3%;
    margin-top: 0;
    width: 100%;
  }

  /* .card{
    border: none;
  } */

  .cardone{
    margin-top: 60%;
  }
}
