/* BASIC STYLING */
*{box-sizing:border-box;}

body{background-color:#E5FBFE; font-family:'Montserrat','Rubik',Arial; margin:0;}

/* Go-to-Top Button */
.mytop{display:block;}

.topButton{border-radius:100px; bottom:1px; color:#00BFFF; cursor:pointer; display:none; font-size:2.5rem; opacity:0.7; outline:none; padding:1px; position:fixed; right:3px; text-shadow:0px 3px 7px #87CEEB; z-index:99;}
.topButton:hover{opacity:1; transition:opacity 1s;}

/* The Navigation Bar */
.icon, .log2{display:none;}

a{display:inline;}
a:active{cursor:progress;}

.divider{color:#FFF; display:inline;}

.navBar{background-color:#00BFFF; height:50px; padding-top:15px; transition:padding-top 1s; width:100%; transition:box-shadow 2s; transition:height 1s;}
.navBar:hover{height:55px; box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5); transition:box-shadow 2s; padding-top:17px; transition:height 1s; width:100%;}

.anchor{border-radius:3px; color:#FFF; cursor:pointer; font-size:115%; padding:7px 7px; text-decoration:none; transition:color 1s;}
.anchor:hover{color:#000080; transition:color 1s;}
.anchor:active{color:#FF0000; transition:color 0.8s;}

.logo{background-image:url('logo.jpg'); border-radius:30px; cursor:pointer; left:8%; padding:25px; position:absolute; top:0px;}

.home, .log{margin-left:16%;}

/* The Log-In Box */
.loginBox{background-color:#00BFFF; border:1px solid #000; border-radius:3px; display:none; height:auto; line-height:2%; margin-left:75%; padding:15px 0px; position:absolute; text-align:center; width:25%; z-index:3;}

.input1{background-color:#FFF; border:none; border-radius:30px; color:#000080; font-size:100%; height:50px; margin-top:5%; padding-left:35px; width:80%;}

.box{cursor:pointer; margin-left:40%; margin-top:3.1%;}

.remember{color:#FFF; font-size:70%; text-decoration:none;}

.login, .createAccount{background-color:#FFF; border:1px solid; border-radius:30px; color:#00BFFF; cursor:pointer; display:inline-block; font-size:100%; margin-top:2%; padding:20px; text-decoration:none; transition:border 1s; transition:color 1s;}
.login:hover, .createAccount{border:1px solid; color:#87CEEB; transition:border 1s; transition:color 1s;}

.agree{color:#FFF; font-size:85%; margin-bottom:6%; margin-top:6%;}

.create{color:#FFF; margin-bottom:3%; text-decoration:none; transition:color 1s;}
.create:hover{color:#87CEEB; transition:color 1s;}

/* Sign-Up Box */
.signupBox{background-color:#00BFFF; border:1px solid #000; border-radius:3px; display:none; height:auto; line-height:2%; margin-left:70%; padding:10px 0px; position:absolute; text-align:center; width:30%; z-index:3;}

.input2{background-color:#FFF; border:2px solid #87CEEB; border-radius:5px; font-size:130%; height:50px; margin-top:2%; padding-left:25px; text-decoration:none; width:80%;}

.level{color:#00BFFF;}

.agree{color:#FFF; font-size:85%; margin-top:2%;}

/* The Image */
.pic{height:650px; box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.3); position:absolute; width:100%; z-index:-1;}

.textjoin{color:#FFF; font-size:3rem; height:700px; margin:0; padding-top:11%; text-align:center; width:100%;}

.join, .winning, .at, .day, .tutors{display:none;}

.join1, .join2{color:#00BFFF; display:inline; font-size:7rem; margin-bottom:1%; text-decoration:none; transition:color 1s;}
.join1:hover, .join2:hover{color:#87CEEB; transition:color 1s;}
.join2{text-decoration:underline;}

.winning1{background-color:#FF0000; border-radius:5px; color:#FFF; font-size:2rem; margin-bottom:0; margin-left:35%; margin-top:1%; padding:7px; width:29%;}

.at1{color:#00BFFF; font-family:'Sansita Swashed',Arial; margin-bottom:0; margin-left:47%; margin-top:0; padding-bottom:6px; width:5%;}

.day1{background-color:#000080; border-radius:5px; color:#FFF; font-family:'Secular One',Arial; margin-bottom:0; margin-left:41%; margin-top:0.5%; font-size:2rem; width:16%;}

.tutors1{background-color:#000080; border-radius:5px; color:#FFF; font-family:'Secular One',Arial; font-size:2rem; margin-bottom:0; margin-left:43%; margin-top:0.5%; width:12%;}

/* About US */
.aboutUS{margin-top:7%; border-radius:5px; box-shadow: 0 2px 6px 6px rgba(0, 0, 0, 0.1); margin-left:10%; padding:20px; width:50%;}

.whoAreWe, .service{color:#00BFFF; display:block; font-size:150%; margin-bottom:0; padding:20px; text-align:left; text-shadow:0px 5px 3px #87CEEB;}

.words{margin-top:0;}

span{margin-left:5%;}

/* Services */
.service{margin-top:7%; text-align:center;}

/* The First Set of Cards */
.theCards{border-radius:3px; box-shadow: 0 2px 6px 6px rgba(0, 0, 0, 0.1); margin-left:0.5%; margin-right:0.5%;}

.heading1, .heading2{color:#000080; margin-top:1%; padding-left:70px; padding-top:30px; text-align:center;}
.heading2{text-decoration:underline;}

.row:after{clear:both; content:""; display:table;}

.column{float:left; width:20%;}

.card{border-radius:30px; color:#000; height:230px; margin-bottom:7%; padding:16px; text-align:center; transition:box-shadow 0.7s;}
.card:hover{box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2); transition:box-shadow 0.7s;}

.logo100{border-radius:300px; box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2); position:absolute; top:1400px; z-index:1;}

.uiux{background-image:url('uiux.jpg'); left:8%; padding:35px;}

.python{background-image:url('python.jpg'); left:28%; padding:35px;}

.web{background-image:url('webdesign.jpg'); left:47.5%; padding:32px;}

.name{margin-top:32%;}

.name2{margin-bottom:17.5%;}

.learn{border:1px solid; border-radius:30px; color:#00BFFF; padding:10px; text-decoration:none; transition:color 1s; transition:padding 1s;}
.learn:hover{color:#87CEEB; padding:10px 13px; transition:color 1s; transition:padding 1s;}

/* The Second Set of Cards */
.theCards2{border-radius:3px; box-shadow: 0 2px 6px 6px rgba(0, 0, 0, 0.1); margin-left:0.5%; margin-right:0.5%; margin-top:4%;}

.column2{width:33.33%;}

.card2{height:360px;}

.subjectName{margin-bottom:3%; text-decoration:underline;}

.ssc{margin-top:10%;}

.csc{margin-top:7%;}

.eee{margin-top:6%;}

.phy{margin-top:20%;}

.subjectAnchors{display:inline-block; text-decoration:none; box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2); color:#00BFFF; margin-bottom:2%; padding:8px; width:25%; margin-left:1.5%; border-radius:30px; transition:width 1s;}
.subjectAnchors:hover{width:27%; transition:width 1s; border-right:0.5px solid; border-bottom:0.5px solid; box-shadow:none;}

/* Post-UTME Card */
.theCards3{border-radius:3px; box-shadow: 0 2px 6px 6px rgba(0, 0, 0, 0.1); margin-left:0.5%; margin-right:0.5%; margin-top:4%;}

.postutme{margin-top:8%; width:38%;}
.postutme:hover{width:42%;}

/* Footer */
footer{background-color:#F2F2F2; color:#000; height:250px; margin-top:3%; width:100%; padding-top:20px;}

.dayspring{color:#00BFFF; margin-bottom:3%; text-align:center; text-shadow:0px 5px 5px #87CEEB}

.bottomAnchors{margin-bottom:2%;}

.footerAnchor{color:#000080; margin-left:3%; text-decoration:none; transition:color 1s;}
.footerAnchor:hover{color:#FF0000; transition:color 1s;}
.footerAnchor:active{color:#00BFFF; transition:color 1s;}

.footerhome{margin-left:23%;}

.copyright{margin-top:4%; text-align:center;}


/* OTHER VIEWS */
@media screen and (max-width: 1300px) {
  /* The Navigation Bar */
  a{display:inline;}

  .navBar a:not(:first-child), .divider, .navBar a.home, .log, .sign{display:none;}

  .navBar .icon, .image, .navBar{display:block;}

  .navBar, .navBar:hover{padding:0; transition: width 0.9s;}

  .navBar a.icon{padding-top:13px; text-align:center; text-decoration:none; width:15%;}

  .anchor{background-color:#FFF; border-radius:0; color:#000; float:left; height:50px; text-align:center;}

  .navBar a.logo{left:47%; padding:24px;}

  .navBar a.icon{background-color:#00BFFF; color:#FFF; display:block; float:left; font-size:150%;}
  .navBar a.icon:hover{background-color:#FFF; color:#000080; transition:background-color 1s; transition:color 1s;}
  .navBar a.icon:active{color:#FF0000; transition:color 0.8s;}

  /* The Responsive Navigation Bar */
  .navBar.responsive{background-color:#F2F2F2; margin-left:20%; position:relative; transition:width 1s; width:80%; z-index:3;}

  .navBar.responsive .icon{background-color:#F2F2F2; color:#000080; font-size:150%; position:absolute; right:0; text-align:center; top:0;}
  .navBar.responsive .icon:hover{background-color:#00BFFF; color:#FFF; transition:background-color 1s; transition:color 1s;}
  .navBar.responsive .icon:active{background-color:#FFF; color:#FF0000; transition:background-color 0.8s; transition:color 0.8s;}

  .navBar.responsive .anchor{color:#000080; display:block; float:none; font-size:130%; height:70px; text-align:right;}
  .navBar.responsive .anchor:hover{background-color:#00BFFF; color:#FFF; transition:background-color 1s; transition:color 1s;}
  .navBar.responsive .anchor:active{background-color:#FFF; color:#FF0000; transition:background-color 0.8s; transition:color 0.8s;}

  .navBar.responsive .log, .navBar.responsive .sign{display:none;}

  .navBar.responsive .log2{border:none; display:block; float:none;}

  .navBar.responsive .home, .navBar.responsive .home:hover{background-color:#F2F2F2; color:#F2F2F2;}

  /* The Image */
  .pic{height:auto;}

  /* The Cards */
  .theCards2{margin-top:20%;}

  .column{display:block; margin-bottom:0; width:100%;}

  .ssc, .csc, .eee, .phy{margin-top:5%;}

  .card{border-bottom:0.5px solid #87CEEB; border-right:0.5px solid #87CEEB; margin-left:0.5%; margin-right:0.5%;}

  .logo100{position:static;}
}


/* SMALLER SCREEN */
@media screen and (max-width: 480px){
  /* The Navigation Bar */
  .navBar, .navBar:hover{height:55px;}

  .navBar a.logo{top:4px;}

  .navBar a.icon{height:55px; margin-left:85%;}

  /* The Responsive Navigation Bar */
  .navBar.responsive{height:55px; margin-left:20%; position:relative; transition:width 1s; width:80%; z-index:3;}

  .navBar.responsive .icon{height:55px; padding-top:13px; width:20%;}

  .navBar.responsive .anchor{padding-right:7%; padding-top:6%;}

  .navBar.responsive .log2{height:70px; margin:0; padding-top:5%;}

  .navBar.responsive .logo, .navBar.responsive .logo:hover{margin-left:-30%;}

  .navBar.responsive .home, .navBar.responsive .home:hover{height:55px; margin-left:-50%;}

  /* The Image */
  .pic{top:10%;}

  .textjoin{height:300px; padding-top:12%;}

  .join1{font-size:3rem;}

  .join2{font-size:3rem; text-decoration:underline;}

  .winning1{font-size:25%; margin-left:25%; width:50%;}

  .at1{font-size:1rem; margin-left:45%; margin-top:0.5%; padding:0; width:10%;}

  .day1{font-size:1rem; margin-left:31%; margin-top:1%; width:35%;}

  .tutors1{font-size:1rem; margin-left:35%; margin-top:1%; width:28%;}

  /* About US */
  .aboutUS{margin-top:20%; margin-left:1%; margin-right:1%; padding:20px; width:98%;}

  /* The First Set of Cards */
  .heading1, .heading2{padding-left:0;}

  /* Services */
  .service{margin-top:30%;}

  .logo100{margin-left:41%; width:10%;}

  .uiux{top:1160px;}

  .python{top:1410px;}

  .web{top:1660px;}

  .name{margin-top:3%;}

  .name2{margin-bottom:7%;}

  /* The Second Set of Cards */
  .card2{height:350px;}

  .subjectAnchors{width:23%;}
  .subjectAnchors:hover{width:26%;}

  /* Footer */
  footer{height:300px; margin-top:5%; padding-top:3px;}

  .footerAnchor{display:block; margin-left:10%; margin-top:2%;}

  .footerhome{margin-left:10%;}

  .copyright{font-size:0.8rem;}
}


/* SMALL SCREEN */
@media screen and (min-width: 480px) and (max-width: 700px) {
  /* The Navigation Bar */
  .navBar, .navBar:hover{height:55px;}

  .navBar a.logo{top:4px;}

  .navBar a.icon{height:55px; margin-left:85%;}

  /* The Responsive Navigation Bar */
  .navBar.responsive{height:55px; margin-left:20%; position:relative; transition:width 1s; width:80%; z-index:3;}

  .navBar.responsive .icon{height:55px; padding-top:13px; width:20%;}

  .navBar.responsive .anchor{padding-right:7%; padding-top:6%;}

  .navBar.responsive .log2{height:70px; margin:0; padding-top:5%;}

  .navBar.responsive .logo, .navBar.responsive .logo:hover{margin-left:-25%;}

  .navBar.responsive .home, .navBar.responsive .home:hover{height:55px; margin-left:-50%;}

  /* The Image */
  .pic{top:9.9%;}

  .textjoin{height:300px; padding-top:10%;}

  .join1{font-size:5rem;}

  .join2{font-size:5rem; text-decoration:underline;}

  .winning1{font-size:50%; margin-left:19%; width:60%;}

  .at1{font-size:50%; margin-left:45%; margin-top:0.5%; padding:0; width:10%;}

  .day1{font-size:50%; margin-left:31%; width:35%;}

  .tutors1{font-size:50%; margin-left:35%; margin-top:1%; width:28%;}

  /* About US */
  .aboutUS{margin-top:40%; margin-left:1%; margin-right:1%; padding:20px; width:98%;}

  /* The First Set of Cards */
  .heading1, .heading2{padding-left:50px;}

  .logo100{margin-left:42%; width:10%;}

  .uiux{top:1080px;}

  .python{top:1350px;}

  .web{top:1620px;}

  .name{margin-top:3%;}

  .name2{margin-bottom:5%;}

  /* Post-UTME Card */
  .postutme{width:23%;}
  .postutme:hover{width:26%;}

  /* Footer */
  footer{height:420px;}

  .dayspring{margin-left:60px; text-align:left;}

  .footerAnchor{display:block; font-size:0.9rem; margin-left:0%; margin-top:0.5%; padding:10px; padding-left:60px;}

  .footerhome{margin-left:0;}

  .copyright{margin-left:50px; margin-top:2%; text-align:left;}
}


/* TABLET SCREEN */
@media screen and (min-width: 700px) and (max-width: 1300px){
  /* The Navigation Bar */
  .navBar, .navBar:hover{height:55px;}

  .navBar a.logo{top:2px;}

  .navBar a.icon{height:55px; margin-left:90%; width:10%;}

  /* The Responsive Navigation Bar */
  .navBar.responsive{margin-left:20%; height:55px; position:relative; transition:width 1s; width:80%; z-index:3;}

  .navBar.responsive .icon{height:55px; padding-top:13px; width:13%;}

  .navBar.responsive .anchor{padding-top:3%; padding-right:5%;}

  .navBar.responsive .log2{height:70px; margin:0; padding-top:2%;}

  .navBar.responsive .logo, .navBar.responsive .logo:hover{margin-left:-25%;}

  .navBar.responsive .home, .navBar.responsive .home:hover{height:55px; margin-left:-50%;}

  /* The Image */
  .pic{top:9.9%;}

  .textjoin{height:300px; padding-top:13%; text-align:center;}

  .join1{font-size:200%;}

  .join2{font-size:200%; text-decoration:underline;}

  .winning1{font-size:60%; margin-left:25%; width:49%;}

  .at1{font-size:60%; margin-left:45%; margin-top:0.5%; width:10%;}

  .day1{font-size:60%; margin-left:35%; width:30%;}

  .tutors1{font-size:60%; margin-left:40%; margin-top:1%; width:21%;}

  /* About US */
  .aboutUS{margin-top:50%; margin-left:1%; margin-right:1%; padding:20px; width:98%;}

  /* The First Set of Cards */
  .heading1, .heading2{padding-left:100px;}

  .logo100{margin-left:46%; width:7%;}

  .uiux{top:1260px;}

  .python{top:1545px;}

  .web{top:1840px;}

  .name{margin-top:3%;}

  .name2{margin-bottom:2.5%;}

  /* The Second Set of Cards */
  .card2{height:480px;}

  .subjectAnchors{padding:20px; width:15%;}
  .subjectAnchors:hover{width:18%;}

  /* Post-UTME Card */
  .postutme{margin-top:2%;}

  /* Footer */
  footer{height:200px; margin-top:3%; padding-top:20px;}

  .dayspring{margin-left:8%; text-align:left;}

  .bottomAnchors{text-align:left;}

  .footerAnchor{color:#000080; margin-left:1%;}

  .footerhome{margin-left:8%;}

  .copyright{margin-left:8%; margin-top:4%; text-align:left;}
}
