.day{
  padding-top: 25px;
  padding-left: 3%;
  font-family: Georgia;
  color:#ffffff;
}

.top{
  background-color: #000080;
  height: 100px;
  width: 100%;
}

.body{
  background-color: #000080;
  width: 60%;
  height: 500px;
  margin-left: 22%;
  line-height: 2%;
}

.heading{
  color: #ffffff;
  font-size: 150%;
  font-family: Georgia;
  padding-left: 43%;
  padding-top: 5%;
}

.sign{
  background-color: #ffffff;
	border-radius: 28px;
	border: 1px;
	display: inline-block;
	cursor: pointer;
	color: #000080;
	font-family: Verdana;
	font-size: 14px;
	padding:9px 13px;
  position: relative;
  left: 85%;
  bottom: 50px;
	text-decoration: none;
}

.email{
  margin-left: 5%;
  padding-left: 65px;
  background-color: #ffffff;
  font-family: Georgia;
  font-size: 130%;
  color: #000080;
  width: 80%;
  height: 50px;
  border: 1px;
  border-radius: 28px;
  margin-top: 5%;
}

.password{
  margin-left: 5%;
  padding-left: 65px;
  background-color: #ffffff;
  color: #000080;
  font-family: Georgia;
  font-size: 130%;
  width: 80%;
  height: 50px;
  border-radius: 28px;
  margin-top: 5%;
}

.box{
  cursor: pointer;
  margin-left: 61.5%;
  margin-top: 3.1%;
}

.remember{
  color: #ffffff;
  text-decoration: none;
}

.log{
  background-color: #ffffff;
  border-radius: 28px;
  border: 1px;
  display: inline-block;
  cursor: pointer;
  color: #000080;
  font-family: Verdana;
  font-size: 100%;
  margin-top: 11%;
  padding:25px 35px;
  position: relative;
  left: 40%;
  bottom: 50px;
  text-decoration: none;
}

.agree{
  color: #ffffff;
  margin-top: 0%;
  margin-left: 35%;
}

.forgot{
  color: #ffffff;
}

.bottom{
  height: 300px;
  width: 100%;
  background-color: #000080;
  margin-top: 3%;
}
