body{
  margin: 0;
  background-color: #f2f2f2;
  font-family: 'Montserrat','Rubik',Arial;
}

.icon{
  display: none;
}

a:active{
  cursor: progress;
}

.topButton{
  background-color: inherit;
  position: fixed;
  top: 550px;
  left: 90%;
  display: ;
  z-index: 2;
  font-size: 4rem;
  text-decoration: none;
  color: #000080;
  opacity: 0.8;
}

.topButton:hover{
  opacity: 1;
}

.navBar{
  height: 40px;
  width: 100%;
  padding-top: 2px;
  position: fixed;
  background-color: #f2f2f2;
  z-index: 3;
}

.divider{
  display: inline;
  color: #000;
  font-size: 160%;
}

.anchor{
  background-color: inherit;
  padding: 5px 5px;
  color: #000080;
  cursor: pointer;
  font-family: 'Montserrat','Rubik',Arial;
  font-size: 120%;
  text-decoration: none;
}

.anchor:hover{
  color: #00BFFF;
  transition: color 1s;
}

.anchor:active{
  color: #ff0000;
  transition: color 0.8s;
  cursor: progress;
}

.logo{
  background-color: #f2f2f2;
  text-decoration: none;
  padding: 4px 15px;
  border-radius: 100px;
  margin-left: 5%;
}

.home{
  margin-left: 10%;
}

.pic{
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 500px;
}

.text{
  padding-top: 8%;
  width: 100%;
  height: 700px;
  font-family:  'Montserrat','Rubik',Arial;
  background-color: inherit;
  margin: 0;
  text-align: center;
}

.find{
  position: absolute;
  display: block;
  color: #f2f2f2f2;
  width: 60%;
  font-size: 3rem;
  top: 100px;
  left: 0;
}

.contact{
  position: absolute;
  border-radius: 3px;
  background-color: #ff0000;
  display: block;
  width: 12%;
  cursor: pointer;
  color: #fff;
  font-size: 1.5rem;
  top: 240px;
  left: 12.5%;
  padding:6px 6px;
  text-decoration: none;
  z-index: 2;
}

.contact:hover{
  opacity: 0.9;
  width: 14%;
  transition: width 1s;
}

.down{
  position: absolute;
  z-index: 0;
  top: 550px;
}

h2{
  margin-left: 10%;
  margin-bottom: 1%;
  color: #000080;
  font-size: 180%;
  font-family: 'Montserrat','Rubik',cursive;
}

.back{
  margin-left: 12%;
  margin-right: 10%;
  margin-top: 0;
  color: #000;
  font-size: 150%;
  font-family: ;
}

.grey{
  color: grey;
  margin-left: 20%;
  margin-right: 30%;
  margin-top: 0;
  font-size: 150%;
  font-family: ;
}

span{
  margin-left: 6%;
}

footer{
  position: absolute;
  z-index: 0;
  top: 1200px;
  height: 300px;
  width: 100%;
  background-color: #00BFFF;
}

/* Small Screens */
@media screen and (max-width: 700px){
  a{
    display: inline;
  }

  .topButton{
    position: fixed;
    top: 450px;
    left: 85%;
    display: ;
    z-index: 4;
    font-size: 4rem;
    text-decoration: none;
    color: #000080;
    background-color: #fff;
    border-radius: 400px;
  }

  .navBar a:not(:first-child), .divider{
    display: none;
  }

  .navBar .icon, .image, .navbar{
      display: block;
  }

  .navBar{
    background-color: #f2f2f2;
    height: 55px;
    width: 100%;
    position: fixed;
    z-index: 5;
    margin-top: 0;
  }

  .anchor{
    float: left;
    background-color: #fff;
    color: #000000;
    text-align: center;
    text-decoration: none;
    font-size: 100%;
    height: 30px;
  }

  .navBar a.home{
    display: none;
  }

  .navBar a.logo{
    background-color: #f2f2f2;
    color: #000080;
    border-radius: 0;
    height: 41px;
    padding-top: 2%;
    font-size: 150%;
    display: inline;
  }

  .navBar a.icon{
    background-color: #f2f2f2;
    color: #000080;
    text-align: center;
    text-decoration: none;
    font-size: 150%;
    float: left;
    display: block;
    width: 15%;
    padding-top: 2%;
    margin-top: 0;
    height: 45px;
    margin-left: 60.9%;
  }

  .navBar a.icon:hover, .navBar a.logo:hover{
    background-color: #000080; transition: background-color 1s;
    color: #f2f2f2; transition: color 1s;
  }

  .navBar a.icon:active{
    background-color: #f2f2f2; transition: background-color 1s;
    color: #FF0000; transition: color 1s;
  }

  .navBar.responsive{
    position: fixed;
    z-index: 5;
    background-color: #f2f2f2;
    width: 70%;
    height: 45px;
    margin-left: 21.35%;
  }

  .navBar.responsive .icon{
    height: 40px;
    width: 20%;
    position: absolute;
    margin-left: 93%;
    top: 0;
    text-align: center;
    padding-top: 2%;
    font-size: 150%;
    background-color: #f2f2f2;
    color: #000080;
  }

  .navBar.responsive .icon:hover{
    color: #f2f2f2; transition: color 1s;
  }

  .navBar.responsive .icon:active{
    color: #FF0000; transition: color 0.8s;
  }

  .navBar.responsive .anchor{
    float: none;
    color: #000080;
    display: block;
    padding-top: 5%;
    text-align: right;
    padding-right: 7%;
    width: 105%;
    height: 50px;
    font-size: 130%;
  }

  .navBar.responsive .anchor:hover{
    color: #87CEEB; transition: color 1s;
  }

  .navBar.responsive .anchor:active{
    color: #FF0000; transition: color 0.8s;
    background-color: #fff; transition: background-color 0.8s;
  }

  .navBar.responsive .logo{
    background-color: #f2f2f2;
    border: 0;
    border-radius: 0;
    margin-top: 0;
    margin-left: -25%;
    color: #000080;
    text-align: left;
    padding-top: 1%;
    padding-left: 1%;
    font-size: 150%;
    width: 13%;
    height: 38px;
    text-decoration: none;
  }

   .navBar.responsive .logo:hover{
     color: #fff;
   }

  .navBar.responsive .home{
    display: none;
  }

  .pic{
    position: absolute;
    width: 100%;
    height: 300px;
    top: 8.5%;
    z-index: -1;
  }

  .text{
    padding-top: 8%;
    width: 100%;
    height: 280px;
    font-family:  'Montserrat','Rubik',Arial;
    background-color: inherit;
    margin: 0;
    text-align: center;
  }

  .find{
    position: absolute;
    display: block;
    text-align: left;
    margin-left: 10%;
    color: #f2f2f2f2;
    width: 60%;
    font-size: 1.5rem;
    top: 120px;
    left: 1%;
  }

  .contact{
    position: absolute;
    border-radius: 3px;
    background-color: #ff0000;
    display: block;
    width: 25%;
    cursor: pointer;
    color: #fff;
    font-size: 1rem;
    top: 185px;
    left: 11%;
    padding:10px 10px;
    text-decoration: none;
    z-index: 2;
  }

  .contact:hover{
    width: 29%;
    transition: width 1s;
  }

  .contact:active{
    color: #ff0000; transition: color 0.8s;
    background-color: #fff; transition: background-color 0.8s;
  }

  .down{
    position: absolute;
    z-index: 0;
    top: 400px;
  }

  h2{
    margin-left: 10%;
    margin-bottom: 1%;
    color: #000080;
    font-size: 1.5rem;
  }

  .back{
    margin-top: 0;
    color: #000;
    text-align: center;
    font-size: 1rem;
  }

  .grey{
    color: grey;
    text-align: center;
    margin-top: 0;
    font-size: 1rem;
  }

  footer{
    display: none;
  }
}

/* Tablet View */
@media screen and (min-width: 700px) and (max-width: 1300px){
  a{
    display: inline;
  }

  .topButton{
    position: fixed;
    top: 450px;
    left: 85%;
    display: ;
    z-index: 4;
    font-size: 4rem;
    text-decoration: none;
    color: #000080;
    background-color: #fff;
    border-radius: 400px;
  }

  .navBar a:not(:first-child), .divider{
    display: none;
  }

  .navBar .icon, .image, .navbar{
      display: block;
  }

  .navBar{
    background-color: #f2f2f2;
    height: 55px;
    width: 100%;
    position: fixed;
    z-index: 5;
    margin-top: 0;
  }

  .anchor{
    float: left;
    background-color: #fff;
    color: #000000;
    text-align: center;
    text-decoration: none;
    font-size: 100%;
    height: 30px;
  }

  .navBar a.home{
    display: none;
  }

  .navBar a.logo{
    background-color: #f2f2f2;
    color: #000080;
    border-radius: 0;
    height: 41px;
    padding-top: 1.5%;
    font-size: 150%;
    display: inline;
  }

  .navBar a.icon{
    background-color: #f2f2f2;
    color: #000080;
    text-align: center;
    text-decoration: none;
    font-size: 150%;
    float: left;
    display: block;
    width: 13%;
    padding-top: 1.5%;
    margin-top: 0;
    height: 50px;
    margin-left: 68.8%;
  }

  .navBar a.icon:hover, .navBar a.logo:hover{
    background-color: #000080; transition: background-color 1s;
    color: #f2f2f2; transition: color 1s;
  }

  .navBar a.icon:active{
    background-color: #f2f2f2; transition: background-color 1s;
    color: #FF0000; transition: color 1s;
  }

  .navBar.responsive{
    position: fixed;
    z-index: 6;
    background-color: #f2f2f2;
    width: 70%;
    height: 80px;
    margin-left: 21.35%;
  }

  .navBar.responsive .icon{
    height: 46.5px;
    width: 15%;
    position: absolute;
    margin-left: 99%;
    top: 0;
    text-align: center;
    padding-top: 2%;
    font-size: 150%;
    background-color: #f2f2f2;
    color: #000080;
  }

  .navBar.responsive .icon:hover{
    color: #f2f2f2; transition: color 1s;
  }

  .navBar.responsive .icon:active{
    color: #FF0000; transition: color 0.8s;
  }

  .navBar.responsive .anchor{
    float: none;
    color: #000080;
    display: block;
    padding-top: 5%;
    text-align: right;
    padding-right: 7%;
    width: 105%;
    height: 50px;
    font-size: 130%;
  }

  .navBar.responsive .anchor:hover{
    color: #fff; transition: color 1s;
    background-color: #000080;transition: background-color 1s;
  }

  .navBar.responsive .anchor:active{
    color: #FF0000; transition: color 0.8s;
    background-color: #fff; transition: background-color 0.8s;
  }

  .navBar.responsive .logo{
    background-color: #f2f2f2;
    border: 0;
    border-radius: 0;
    margin-top: 0;
    margin-left: -23.5%;
    color: #000080;
    text-align: left;
    padding-top: 1.5%;
    padding-left: 1%;
    font-size: 150%;
    width: 7%;
    height: 43px;
    text-decoration: none;
  }

   .navBar.responsive .logo:hover{
     color: #fff;
   }

  .navBar.responsive .home{
    display: none;
  }

  .pic{
    position: absolute;
    width: 100%;
    height: 300px;
    top: 12.5%;
    z-index: -1;
  }

  .text{
    padding-top: 8%;
    width: 100%;
    height: 280px;
    font-family:  'Montserrat','Rubik',Arial;
    background-color: inherit;
    margin: 0;
    text-align: center;
  }

  .find{
    position: absolute;
    display: block;
    color: #f2f2f2f2;
    width: 60%;
    font-size: 2rem;
    text-align: left;
    top: 120px;
    left: 10%;
  }

  .contact{
    position: absolute;
    border-radius: 3px;
    background-color: #ff0000;
    display: block;
    width: 17%;
    cursor: pointer;
    color: #fff;
    font-size: 1rem;
    top: 200px;
    left: 10%;
    padding:10px 10px;
    text-decoration: none;
    z-index: 2;
  }

  .contact:hover{
    width: 20%;
    transition: width 1s;
  }

  .contact:active{
    color: #ff0000; transition: color 0.8s;
    background-color: #fff; transition: background-color 0.8s;
  }

  .down{
    position: absolute;
    z-index: 0;
    top: 400px;
  }

  h2{
    margin-left: 10%;
    margin-bottom: 1%;
    color: #000080;
    font-size: 1.5rem;
  }

  .back{
    margin-top: 0;
    color: #000;
    text-align: center;
    font-size: 1rem;
  }

  .grey{
    color: grey;
    text-align: center;
    margin-top: 0;
    font-size: 1rem;
  }

  footer{
    display: none;
  }
}
